# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Temporary files
*.log

# VS Code settings
.vscode/

# Dataset (large)
dataset/

# Ignore unnecessary model formats
models/*.bin
models/*.pt
models/*.h5

# Personal testing data
history.json
stats.json